<!DOCTYPE html> 
<html class=no-js>
   <head>
      <meta charset=utf-8>
      <title>app</title>
      <meta name=description content="">
      <meta name=viewport content="width=device-width,initial-scale=1">
      <link rel="shortcut icon" href=/favicon.b25e58c4.ico>
      <link rel=apple-touch-icon href=/apple-touch-icon.9727d3c2.png>
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> 
      <link rel=stylesheet href=/assets/main.15419746.css>
      <script src=/assets/vendor/modernizr.fbe20327.js></script> 
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel=stylesheet type=text/css>
   <body>
      <header class=banner role=banner>
         <nav class="navbar navbar-default navbar-fixed-top" role=navigation>
            <div class=container-fluid>
               <div class=nav-container>
                  <div class=xdotai-invite>
                     <form>
                        <div class="input-group input-group-sm email-input header-input-group hidden-xs"> <input id=headerInput required class="form-control border" placeholder="Enter your email" type=email> <span class=input-group-btn> </span> </div>
                     </form>
                  </div>
                  <a alt=Ali class=logo href=#></a> 
               </div>
            </div>
         </nav>
         <section class="hero home-hero full-height">
            <div class="hero-container mid text-center">
               <div class=container-fluid>
                  <div class=row>
                     <div class="center-block col-xs-12 col-sm-p">
                        <h1 class=callout-heading>Ali is a personal assistant who helps you scout new suppliers on Alibaba</h1>
                        <h2 class="h3 callout-subheading">Sign up for free beta access</h2>
                     </div>
                  </div>
                  <div class=row>
                     <div class="center-block col-xs-12 col-sm-6">
                        <div class=xdotai-invite>
                           <form>
                              <div class="input-group email-input"> <input name=email class="form-control border" placeholder="Enter your email" required type=email> <span class=input-group-btn> <button class="btn btn-cta" type=submit>Sign Up</button> </span> </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="scroll-down text-center"> <a class="scroll-chevron inhale animate" href=# id=scrollDown> <img src=https://x.ai/wp-content/themes/amy/assets/images/scroll-down.svg alt="Scroll down to see more"> </a> </div>
            </div>
         </section>
      </header>
      <div class=wrapper>
         <section class=press-cred>
            <div class=container-fluid>
               <div class=press-carousel>
                  <div class=press-logo>
                     <figure style="background-image: url(/assets/logo-techcrunch.png)" alt=""></figure>
                  </div>
                  <div class=press-logo>
                     <figure style="background-image: url(/assets/logo-gigaom.png)" alt=""></figure>
                  </div>
                  <div class=press-logo>
                     <figure style="background-image: url(/assets/logo-wired.png)" alt=""></figure>
                  </div>
                  <div class=press-logo>
                     <figure style="background-image: url(/assets/logo-wsj.png)" alt=""></figure>
                  </div>
                  <div class=press-logo>
                     <figure style="background-image: url(/assets/logo-inc.png)" alt=""></figure>
                  </div>
               </div>
            </div>
         </section>
         <!-- About Amy --> 
         <section class="about-amy text-center hero full-height content-hero">
            <div class="hero-container mid text-center">
               <div class=container-fluid>
                  <div class=row>
                     <div class="center-block col-xs-12 col-sm-7">
                        <span class=element1>
                           <h1 id=typed class="callout-heading element_1"></h1>
                           <span>
                              <div class=callout-subheading>
                                 <p>Your AI powered personal assistant for scouting suppliers and obtaining quotes on Alibaba. You tell me your sourcing request – I’ll contact the 10 best suppliers on Alibaba, do all the tedious email ping pong involved and come back to you with 3-5 quotations aligned with your specs.</p>
                                 <p>No sign-in, no password, no download, all you do is :</p>
                                 <p><a href=mailto:amy@x.ai><strong>Cc: hello@ali.ai</strong></a></p>
                              </div>
                           </span>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End About Amy --> 
      </div>
      <hr>
      <section class="hiw-amy text-center hero full-height content-hero pha">
         <div class="hero-container mid text-center">
            <div class="center-block col-xs-12 col-sm-7">
               <h1 class=callout-heading>How It Works</h1>
            </div>
            <div class=container-fluid>
               <div class="row hiw mtxxl">
                  <div class=col-sm-12>
                     <div class="media mtxxxl" style="visibility: visible; transform: translateY(0) scale(1); opacity: 1; -webkit-transform: translateY(0) scale(1); opacity: 1; -webkit-transition: -webkit-transform 0.6s ease-in-out 0s, opacity 0.6s ease-in-out 0s; transition: transform 0.6s ease-in-out 0s, opacity 0.6s ease-in-out 0s; -webkit-perspective: 1000; -webkit-backface-visibility: hidden" data-sr="wait 0.2s, ease-in-out 50px, reset">
                        <div class="col-xs-12 col-md-4 col-sm-12"> <img src=/assets/How_to_1.png alt=""> </div>
                        <div class="col-xs-12 col-md-8 col-sm-12">
                           <h4 class=media-heading>You need to source a product from Alibaba, but don’t want to deal with all the back and forth of emails with suppliers to get finalized quotations</h4>
                           <p id=media-hp>Let’ s say you want quotations for 1000 light bulbs FOB Hong Kong</p>
                        </div>
                     </div>
                     <div class="media mtxxxl" style="visibility: visible; transform: translateY(0) scale(1); opacity: 1; -webkit-transform: translateY(0) scale(1); opacity: 1; -webkit-transition: -webkit-transform 0.6s ease-in-out 0s, opacity 0.6s ease-in-out 0s; transition: transform 0.6s ease-in-out 0s, opacity 0.6s ease-in-out 0s; -webkit-perspective: 1000; -webkit-backface-visibility: hidden" data-sr="wait 0.2s, ease-in-out 50px, reset">
                        <div class="col-xs-12 col-md-4 col-sm-12"> <img src=/assets/How_to_2.c2f7e9a1.png alt=""> </div>
                        <div class="col-xs-12 col-md-8 col-sm-12">
                           <h4 class=media-heading>You email Ali, handing the job over to her</h4>
                           <p id=media-hp>Hi Ali, I am looking to source light bulbs in bulk. I’d like quotations for a 1000 pieces order FOB Hong Kong Regards, Peter</p>
                        </div>
                     </div>
                     <div class="media mtxxxl" style="visibility: visible; transform: translateY(0) scale(1); opacity: 1; -webkit-transform: translateY(0) scale(1); opacity: 1; -webkit-transition: -webkit-transform 0.6s ease-in-out 0s, opacity 0.6s ease-in-out 0s; transition: transform 0.6s ease-in-out 0s, opacity 0.6s ease-in-out 0s; -webkit-perspective: 1000; -webkit-backface-visibility: hidden" data-sr="wait 0.2s, ease-in-out 50px, reset">
                        <div class="col-xs-12 col-md-4 col-sm-12"> <img src=/assets/How_to_3.0f74f9b7.png alt=""> </div>
                        <div class="col-xs-12 col-md-8 col-sm-12">
                           <h4 class=media-heading>Ali contacts Alibaba’s best suppliers and emails with them to align their offer to your exact specifications</h4>
                           <p id=media-hp>Ali contacts only trusted Alibaba Members and start a conversation with 5-10 suppliers. Engaging with each supplier is key to ensure understanding of the request, validate capabilities, align the offer, ask for samples, etc</p>
                        </div>
                     </div>
                     <div class="media mtxxxl" style="visibility: visible; transform: translateY(0) scale(1); opacity: 1; -webkit-transform: translateY(0) scale(1); opacity: 1; -webkit-transition: -webkit-transform 0.6s ease-in-out 0s, opacity 0.6s ease-in-out 0s; transition: transform 0.6s ease-in-out 0s, opacity 0.6s ease-in-out 0s; -webkit-perspective: 1000; -webkit-backface-visibility: hidden" data-sr="wait 0.2s, ease-in-out 50px, reset">
                        <div class="col-xs-12 col-md-4 col-sm-12"> <img src=/assets/How_to_4.00d9ef31.png alt=""> </div>
                        <div class="col-xs-12 col-md-8 col-sm-12">
                           <h4 class=media-heading>Like magic, quotations arrive in your inbox</h4>
                           <p id=media-hp>Hi Peter, This is Ali – a quick update on your request Please find attached 5 signed quotations for your light bulb order. The conversations I had with each supplier is also attached for you reference. Looking forward to supporting you again, Best, Ali</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <hr>
      <section class="they-say content-section-large">
         <div class="hero-container mid text-center">
            <div class=container-fluid>
               <div class=row>
                  <div class="center-block col-xs-12 col-sm-7">
                     <h1 class=callout-heading>What they're saying</h1>
                  </div>
               </div>
            </div>
            <div class=container-fluid>
               <div class="row they-say-tweets">
                  <div class=col-sm-4>
                     <img src=/assets/Picture1.686088fa.jpg> 
                     <h2>Paul, Sourcing at Amazon</h2>
                     <p id=parag>"This is my new favorite work thing. I swear it's saved me at least 10 hours in my first week of use."</p>
                  </div>
                  <div class=col-sm-4>
                     <img src=/assets/Picture2.b02a1485.jpg> 
                     <h2>Chris, Ebay buyer</h2>
                     <p id=parag>"Ali is best service I've used this year by far. Actually much better than a human for this task"</p>
                  </div>
                  <div class=col-sm-4>
                     <img src=/assets/Picture3.3c251a7b.jpg> 
                     <h2>Clara, Enterpreneur</h2>
                     <p id=parag>"I've been using Ali personal sourcing assistant for a week and I must say I'm pretty impressed so far. Ali is a keeper!"</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="sign-up content-section grey-pane">
         <div class="hero-container mid text-center faux-border">
            <div class=container-fluid>
               <div class=row>
                  <div class="center-block col-xs-12 col-sm-10">
                     <h1 class=callout-heading>No App. Nothing to Download.</h1>
                     <div class="callout-subheading mwn">
                        <div class=row>
                           <div class="center-block col-xs-12 col-sm-10">
                              <p class=callout-subheading>Sign up today and you’ll never have to deal with scouting pains again</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class=row>
                  <div class="center-block col-xs-12 col-sm-6">
                     <div class=xdotai-invite>
                        <form>
                           <div class="input-group email-input"> <input type=email name=email class="form-control border" placeholder="Enter your email" required> <span class=input-group-btn> <button class="btn btn-cta" type=submit>Sign Up</button> </span> </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <footer class=page-footer role=contentinfo>
         <div class=container-fluid>
            <div class=row>
               <div class=row-sm-height>
                  <div class="col-xs-12 col-sm-9 col-sm-height col-sm-top page-links">
                     <div class=row>
                        <div class=col-sm-12>
                           <div class=menu-footer-menu-container>
                              <ul id=menu-footer-menu class=footer-navigation>
                                 <li id=menu-item-1932 class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-1932"><a href=#>Home</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-3 col-sm-height col-sm-top social-links">
                     <div class=row>
                        <div class=col-sm-12>
                           <ul class="footer-navigation social-navigation">
                              <li><a href=#><i class="fa fa-facebook fa-lg"></i></a></li>
                              <li><a href=#><i class="fa fa-twitter fa-lg"></i></a></li>
                              <li><a href=#><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                           </ul>
                           <p class=prxl>Made in NYC</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <script src=/assets/vendor.2bb9e56f.js></script> <script src=/assets/plugins.cdff26c6.js></script> <script src=/assets/main.8971778a.js></script> <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. --> <script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
         function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
         e=o.createElement(i);r=o.getElementsByTagName(i)[0];
         e.src='https://www.google-analytics.com/analytics.js';
         r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
         ga('create','UA-XXXXX-X');ga('send','pageview');
      </script> <script>$(function(){
         $(".element_1").typed({
             strings: ["Hi, I'm Ali"],
             typeSpeed: 0
         });
         });
      </script>
